<ion-view view-title="About" class="view2">

  	<ion-nav-buttons side="right">
      	<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  	</ion-nav-buttons>
   	<ion-content class="padding">
   	<div class="desi2">
   		<h3 class="desi1">HirePipe</h3>
   		<h5 class="desi1">version 1.0</h5>
   		<center><img class="full-image img1" src="img/hirepipe.png"></center> 
   		<h5 class="desi1">&copy; 2015-2016 HeHe Labs and MetaCrunch.</h5>
   		<h5 class="desi1">All rights reserved.</h5>	
   	</div>
   			 
  	</ion-content>
</ion-view>