<style type="text/css">
	/*.bar-subheader {
		padding-top: 30px;
	}*/
	.bar-subheader label {
		height: 27px;
		
	}
	.bar-subheader label i {
		font-size: 20px;
	}
	.bar-subheader .button1 {
		font-size: 15px;
		height: 27px;
		color: #004056;
		margin-right: 5px;
		margin-top: 5px;
	}
</style>
<ion-view view-title="Endorsements" class="view1">  
  	<ion-nav-buttons side="right">
      	<button class="button button-icon button-clear ion-navicon butt1" ng-click="openMenu()"></button>
  	</ion-nav-buttons>
  	<div class="bar bar-subheader item-input-inset">
	  	<label class="item-input-wrapper">
	    	<i class="icon ion-ios-search placeholder-icon"></i>
	    	<input type="search" placeholder="Type Name">
	  	</label>
	  	<div class="button1">
	  		&nbsp;&nbsp;Search
	  	</div>
  	</div>
  	<ion-content class="padding" style="padding-top:60px;">
    	<div class="list all">
        	<a href="#/tab/endorsement/profile" class="item item-avatar item-icon-right" style="border-bottom:2px solid #004056">
	          	<img src="img/1.png">
	          	<h2>Marty McFly</h2>
	          	<p>Freelance Graphic Designers</p>
        	</a>
        	<a href="#/tab/endorsement/profile" class="item item-avatar item-icon-right" style="border-bottom:2px solid #004056">
	          	<img src="img/2.png">
	          	<h2>Jeanne Uwamaria</h2>
	          	<p>computer Engineer</p>
	    	</a>
        	<a href="#/tab/endorsement/profile" class="item item-avatar item-icon-right" style="border-bottom:2px solid #004056">
        		<img src="img/2.png">
	          	<h2>Nurse</h2>
	          	<p>Age: 25</p>
	    	</a>
	    	<a href="#/tab/endorsement/profile" class="item item-avatar item-icon-right" >
	          	<img src="img/3.png">
	          	<h2>Luc Ntaganira</h2>
	          	<p>Interpreter</p>
	    	</a>
    	</div>
  </ion-content>
</ion-view>