<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<ion-view view-title="Endorsements" class="view1">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
  	<center><div class="image"> <img width="100%" src="img/5.jpg" style="border-radius:100%;"></div></center>  	
  	<div class="profile">
      <h4 class="textco">Captone Habiyaremye</h4>
      <div class="desi">
        
            <p class="padding">
                <b>Industry:</b> Computer Programming</br>
                <b>Endorsement:</b> 50 </br>
                <b>Email:</b> ccaptone@gmail.com
            </p>       
            <p class="padding">
                <b>Education:</b><br> 
                Bachelor's degree computer science.<br> 
                Masters In Electrical Engineering.
            </p>   
            <p class="padding">
                <b>Schools Attended:</b> <br>
                Lycee de Kigali 2011-2014<br>
            </p>
      </div>
    </div>
    <a href="#"><center><input  type="button" value="Endorsement Request" id="t" class="button button-default btns1" onclick="a()"></center></a>
  </ion-content>
</ion-view>