<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<!-- this is the endorsment request page  -->
<ion-view view-title="Endorsment Request" class="view1">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">      	
        <center><div class="image"> <img width="100%" src="img/5.jpg" style="border-radius:100%;"></div></center>
        <div class="profile">
            <h4 class="textco">Bisemage Yves Honore</h4>
            <div class="desi">
                <p class="padding">
                    <b>Industry:</b> Telecommunication</br>
                    <b>Endorsement:</b> 40 </br>
                    <b>Email:</b> nabfileille@gmail.com
                </p>       
                <p class="padding">
                    <b>Education:</b><br> 
                    Bachelor's degree in economics and computer science.<br> 
                    Masters In Electrical Engineering.
                </p>   
                <p class="padding">
                    <b>Schools Attended:</b> <br>
                    Lycee de Kigali 2008-2014<br>
                    University of Kigali 2014-2018<br>
                </p>
            </div>
        </div>           	
        <input type="button" id="y" onclick="tick()" class="button button-default btns1 invite" value="Endorse">
        <input type="button" id="n" onclick="cross()" class="button button-default btns1 pull-right invite" value="Deny">
  </ion-content>

</ion-view>
