<ion-view title="List of potential employees" style="background-image:url('img/bg.jpg');background-size:cover;">
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-ios-arrow-left butt1" ui-sref="login"></button>
      </ion-nav-buttons>
      <ion-content class="padding">
          <p>Get to know more before you invite:</p>
           <div class="list card">
              <div class="item item-avatar item-icon-right">
                <img src="../img/1.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
              </div>
              <div class="item item-avatar item-icon-right">
                <img src="../img/2.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
              </div>
              <div class="item item-avatar item-icon-right">
                <img src="../img/3.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
              </div>
            </div>
      </ion-content>
</ion-view>

