<ion-view title="Hire The Best" class="view1">    
    <ion-content class="padding">
        <div class="list">
            <a href="#/inviteOut1" class="item item-avatar item-icon-right items" style="border-bottom:2px solid #004056">
                  <img src="img/5.jpg">
                  <h2>{{name}}</h2>
                  <p>Graphic Designer</p>
            </a>
            <a href="#/inviteOut2" class="item item-avatar item-icon-right items" style="border-bottom:2px solid #004056">
                  <img src="img/2.png">
                  <h2>Kanyana Ornella</h2>
                  <p>Computer Engineer</p>
            </a>
            <a href="#/inviteOut3" class="item item-avatar item-icon-right items" style="border-bottom:2px solid #004056">
                  <img src="img/3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Programmer</p>
            </a>
            <a href="#/inviteOut3" class="item item-avatar item-icon-right items" style="border-bottom:0px solid #004056">
                  <img src="img/3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Singer and vocalists</p>
            </a>
        </div>
    </ion-content>
</ion-view> 