<!-- this is the page where you sort by-->
<ion-view view-title="Start Hiring" class="view1">
  
  <ion-content class="allbx padding">
  <div class="card" style="border-radius:0px;">
          <div class="allbx item item-divider text-center" style="border-radius:0px;">
            what are you looking for?
          </div>
          <div class="allbx item item-text-wrap">
            <label class="allbx item item-input item-select">
        <div class="allbx input-label">
          Industry
        </div>
        <select class="allbx options" style="background-color: rgba(255,255,255,0.0);">
            <option>Computer Engineering</option>
            <option selected>Accoutancy</option>
            <option>Business Administration</option>
            <option>Civil Engineering</option>
            <option>Drama</option>
            <option>Journalism</option>
            <option>Legal</option>
            <option>Music</option>
            <option>Agriculture</option>
            <option>Telecommunications </option>
            <option>Consulting </option>
            <option>Financial Services</option>
            <option>Transportation</option>
            <option>others</option>
        </select>
      </label>
      <label class="allbx item item-input item-select">
        <div class="allbx input-label">
          Country
        </div>
        <select class="allbx options" style="background-color: rgba(255,255,255,0.0);">
            <option selected>Rwanda</option>
            <option>Burundi</option>
            <option>Kenya</option>
            <option>Tanzania</option>
            <option>Democratic Republic of Congo</option>
            <option>Uganda</option>
            <option>others</option>
        </select>
      </label>
      <label class="allbx item item-input item-select">
        <div class="allbx input-label">
          Education
        </div>
        <select class="allbx options" style="background-color: rgba(255,255,255,0.0);">
            <option selected>certificate</option>
            <option>Diploma</option>
            <option>PhDs</option>
            <option>Bachelors</option>
            <option>Masters</option>
            <option>others</option>
        </select>
      </label>
      <label class="allbx item item-input item-select" >
        <div class="allbx input-label">
          Experience
        </div>
        <select class="allbx options" style="background-color: rgba(255,255,255,0.0);">
            <option >No Experience</option>
            <option>Entry level(2- years)</option>
            <option>Mid level(2+ years)</option>
            <option selected>Senior(5+ years)</option>
            <option>Not specific</option>

        </select>
      </label>
      <label class="allbx item item-input item-select" >
        <div class="allbx input-label">
          Type
        </div>
        <select class="allbx options" style="background-color: rgba(255,255,255,0.0);">
            <option >Freelancer</option>
            <option>full time</option>
            <option>Part time</option>
        </select>
      </label>
          </div>
          
        </div>
        <div class="allbx" style="border-radius:0px;">
            <button class="button button-default button-block cont" ui-sref="tabsHiring">Continue</button>
        </div>
      
  </ion-content>
</ion-view>
