<ion-view title="Hire The Best" style="background-image:url('img/bg.jpg');background-size:cover;">
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ui-sref="login"></button>
      </ion-nav-buttons>
      <ion-content class="padding">
           <div class="list card">
              <a href="#/tabHiring/invite/profile">
              <div class="item item-avatar item-icon-right">
                  <img src="../img/1.png">
                  <h2>Marty McFly</h2>
                  <p>Age: 30</p>
              </div>
              </a>
              <div class="item item-avatar item-icon-right">
                  <img src="../img/2.png">
                  <h2>Jeanne Uwamaria</h2>
                  <p>Age: 25</p>
              </div>
              <div class="item item-avatar item-icon-right">
                  <img src="../img/3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Age: 27</p>
              </div>
              <div class="item item-avatar item-icon-right">
                  <img src="../img/1.png">
                  <h2>Marty McFly</h2>
                  <p>Age: 30</p>
              </div>
              <div class="item item-avatar item-icon-right">
                  <img src="../img/2.png">
                  <h2>Jeanne Uwamaria</h2>
                  <p>Age: 25</p>
              </div>
              
              <div class="item item-avatar item-icon-right">
                  <img src="../img/3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Age: 27</p>
              </div>
              
            </div>
      </ion-content>
</ion-view>

