<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<ion-view view-title="Hire The Best" class="view1">
  <ion-content class="padding">
  	<center><div class="image"><img width="100%" src="img/5.jpg" style="border-radius:100%;"></div></center>
    <div class="profile">
      <h4 class="textco"> MURABYO Bisemage Yves Honore</h4>
      <a class=" ion-ios-download button button-small butt buttss btns1 btns2" ng-click="openDoc()"> Documents</a>
      <a class="button button-small butt buttss btns1 btns3" ng-click="openInvite()">Invite</a>
      <div class="desi">
        <p class="padding">
            <hr>
            <b>Industry:</b> Telecommunication</br>
            <b>Endorsement:</b> 40 </br>
            <b>Email:</b> nabfileille@gmail.com
            <hr>
            <b>Education:</b><br> 
            Bachelor's degree in economics and computer science.<br> 
            Masters In Electrical Engineering.
            <hr>
            <b>Schools Attended:</b> <br>
            Lycee de Kigali 2008-2014<br>
            University of Kigali 2014-2018<br>
            <hr>
            <b>Description:</b> A highly motivated and hardworking individual. Eventual career goal is to become a fully-qualified and experienced maintenance or electrical engineer, with the longer-term aspiration of moving into project management.
            <hr>
            <b>Recommendations: </b> <u>30</u> <a class="button button-small butt buttss btns1 btns2 pull-right" href="#/reco">Load More</a>
            <ul>
              <li>Clarisse Iribagiza</li>
              <li>Richard Rusa</li>
              <li>Sixbert Uwiringiyimana</li>
            </ul>
        </p>       
        
      </div>
    </div>   
  </ion-content>
</ion-view>