<ion-view view-title="Hire The Best" class="view1">

  <ion-content class="padding">

    <center><div class="image"><img width="100%" src="img/5.jpg" style="border-radius:100%;"></div></center>
    <div class="profile">
      <h4 class="textco">  Bisemage Yves Honore</h4>
      <a class="ion-ios-download button button-small butt buttss btns1 btns2"> Documents</a>
      <a class="button button-small butt buttss btns1 btns3" href="">Invite</a>
      <div class="desi">
      <p class="ff">Born:May, 24, 1997</p>
      <p class="ff">Endorsement:40</p>       
      <p>Education: Masters In Electrical Engineering</p>   
      <p style="text-align:left">
        A highly motivated and hardworking individual. Eventual career goal is to become a fully-qualified and experienced maintenance or electrical engineer, with the longer-term aspiration of moving into project management.
      </p>
    </div>
    </div>
    
      
    



    
    
  </ion-content>
</ion-view>