<ion-view title="invite" style="background-image:url('img/stock.jpg');background-size:cover;">
    <ion-content class="padding">
        <div class="list card">
            <a href="InviteOut1.html">
              <div class="item item-avatar item-icon-right">
                  <img src="1.png">
                  <h2>Marty McFly</h2>
                  <p>Age: 30</p>
                </div>
            </a>
            <a href="InviteOut2.html">
                <div class="item item-avatar item-icon-right">
                  <img src="2.png">
                  <h2>Jeanne Uwamaria</h2>
                  <p>Age: 25</p>
                </div>
            </a>
            <a href="InviteOut3.html">
                <div class="item item-avatar item-icon-right">
                  <img src="3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Age: 27</p>
                </div>
            </a>
            <a href="InviteOut1.html">
                <div class="item item-avatar item-icon-right">
                  <img src="1.png">
                  <h2>Marty McFly</h2>
                  <p>Age: 30</p>
                </div>
              </a>
              <a href="InviteOut2.html">
                <div class="item item-avatar item-icon-right">
                  <img src="2.png">
                  <h2>Jeanne Uwamaria</h2>
                  <p>Age: 25</p>
                </div>
            </a>
            <a href="InviteOut3.html">
                <div class="item item-avatar item-icon-right">
                  <img src="3.png">
                  <h2>Luc Ntaganira</h2>
                  <p>Age: 27</p>
                </div>
            </a>
        </div>
    </ion-content>
<ion-view>
