<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<!-- invitation request page -->
<ion-view view-title="Invitation" class="view1">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="profile">
      <div class="desi">
      <h3 class="textco">Ngendahayo Azabe Jisca</h3>
        <p class="padding">
          <b>Company:</b> HeHe Labs</br>
          <b>Job Title:</b> Human Resource Manager</br>
          <b>Email:</b> nabfileille@gmail.com</br>
          <b>Phone Number:</b> +250784573324 </br>    
          <b>Location:</b> Kiyovu-Dallas House</br>
          <b>Date:</b> 15/05/2016</br>
          <b>Time:</b> 14:30</br>
          <b>Short Message:</b> Hello I am offering you a good job, This is something big, we can change the world together. If you ain't gonna be able to come for the interview just contact me, may be we can see what to do.</br>
        </p>   
      </div>
      <div class="">
        <input type="button" id="Y" onclick="yes()" class="button button-default cont pull-left invite" value="Accept">
        <input type="button" id="N" onclick="no()" class="button button-default cont pull-right invite" value="Deny">
      </div>
    </div>    
  </ion-content>
</ion-view>