<!-- ** this is the page for notifications **-->
<ion-view view-title="Notifications" class="view1">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
  	<div class="list">
      <a class="item item-avatar" href="#/tab/notification/invitation" style="border-bottom:2px solid #004056">
        <img src="img/2.png">
        <h2>Kanyana Ornella</h2>
        <p>Invitation</p>
        <p class="pull-right">37min</p>
      </a>
      <a class="item item-avatar" href="#/tab/notification/invitation" style="border-bottom:2px solid #004056">
        <img src="img/2.png">
        <h2>Kanyana Ornella</h2>
        <p>Invitation</p>
        <p class="pull-right">37min</p>
      </a>
      <a class="item item-avatar" href="#/tab/notification/enrequest">
        <img src="img/hire.png">
        <h2>Gakyeli Eric</h2>
        <p>Endorsments request</p>
        <p class="pull-right">2hrs</p>
      </a>
    </div>
  </ion-content>
</ion-view>
