<ion-view view-title="Education" class="view1">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div>
      <label class="item item-input">
        <input type="text" placeholder="School Attended" required>
      </label>
    </div> 
    <div>
      <label class="item item-input">
        <input type="text" placeholder="Degree Acquired" required>
      </label>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">From</div>
      <select class="allbx options">
        <option selected>1990</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>2000</option>
        <option>2005</option>
        <option>2014</option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">To</div>
      <select class="allbx options">
        <option selected>2001</option>
        <option>2000</option>
        <option>2005</option>
        <option>2010</option>
        <option>2014</option>
      </select>
    </label>
    <a href=""><i class="ion-plus-circled pull-right plus"></i></a>
  
  <br/>
  <center><a href="#/tab/profile/update"><button class="button button-default cont">
     SAVE
   </button></a></center>
  </ion-content>
</ion-view>
