<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<ion-view title="Profile" class="view1">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
      <center><div class="image"> <img width="100%" src="img/5.jpg" style="border-radius:100%;"></div></center>
      <div class="profile">
      <h4 class="textco">  Bisemage Yves Honore</h4>
      <div class="desi">
        <p class="padding">
            <b>Industry:</b> Telecommunication</br>
            <b>Endorsement:</b> 40 </br>
            <b>Recommendations: </b> <u>30</u> <br>
            <b>Email:</b> nabfileille@gmail.com
        </p>       
        <p class="padding">
            <b>Education:</b><br> 
            Bachelor's degree in economics and computer science.<br> 
            Masters In Electrical Engineering.
        </p>   
        <p class="padding">
            <b>Schools Attended:</b> <br>
            Lycee de Kigali 2008-2014<br>
            University of Kigali 2014-2018<br>
        </p>
      </div>
    </div>   
      <a href="#/tab/profile/update"><center><button class="button button-default button-medium btns1" >
              Update
           </button></center></a>
    </ion-content>
</ion-view>