<ion-view view-title="Qualifications" class="view1">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
  <label class="item item-input item-select">
    <div class="input-label">
      Degree
    </div>
    <select>
      <option>Certificate</option>
      <option>Bachelors</option>
      <option>Masters</option>
      <option>PHD</option>
    </select>
  </label>
  <label class="item item-input item-select">
      <div class="input-label">Industry</div>
      <select>
        <option>Computer Engineering</option>
        <option selected>Accoutancy</option>
        <option>Business Administration</option>
        <option>Civil Engineering</option>
        <option>Drama</option>
        <option>Journalism</option>
        <option>Legal</option>
        <option>Music</option>
        <option>Agriculture</option>
        <option>Telecommunications </option>
        <option>Consulting </option>
        <option>Financial Services</option>
        <option>Transportation</option>
        <option>Others</option>
      </select>
    </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Status
    </div>
    <select>
      <option>Employed</option>
      <option>Unemployed</option>
    </select>
  </label>
  <div>
    <label class="item item-input">
      <textarea type="text" placeholder="Other Qualifications" ></textarea>
    </label>
  </div>
  <br/>
  <a href="#/tab/profile/update"><center><button class="button button-default cont">
    Save</button></center></a>
  </ion-content>
</ion-view>