<ion-view title="Recommended By" class="view1">    
    <ion-content class="padding">
        <div class="list">
            <a href="#/reco/1" class="item items item-text-wrap item-icon-right">
                  <h2>Clarisse Iribagiza</h2>
                  <p>HeHe Labs</p>
                  <i class="icon ion-chevron-right next"></i>
            </a>
            <a href="#/inviteOut1" class="item items item-text-wrap item-icon-right">
                  <h2>Richard Rusa</h2>
                  <p>HeHe Labs</p>
                  <i class="icon ion-chevron-right next"></i>
            </a>
            <a href="#/inviteOut1" class="item items item-text-wrap item-icon-right">
                  <h2>Sixbert Uwiringiyimana</h2>
                  <p>HeHe Labs</p>
                  <i class="icon ion-chevron-right next"></i>
            </a>
            <a href="#/inviteOut1" class="item items item-text-wrap item-icon-right">
                  <h2>Yannick Fluero</h2>
                  <p>Damarara Ltd</p>
                  <i class="icon ion-chevron-right next"></i>
            </a>
        </div>
    </ion-content>
</ion-view> 