<style type="text/css">
  b {
    color: #3f5765;
  }
</style>
<ion-view title="Clarisse Iribagiza" class="view1">    
    <ion-content class="padding">
    <div class="list profile">
        <div class="desi">
        <p class="padding">
            <b>Company:</b> HeHe Labs<br>
            <b>Job Title:</b> CEO <br>
            <b>Email:</b> clairyceiribagiza@gmail.com <br>
            <b>Relationship:</b> Co-Worker
        </p>       
        <p class="padding">
            <b>Short Note:</b><br> 
            Murabyo is a motivated employee, sometimes he doesn't seem to be serious because of how he looks like but i really enjoyed working with him for 3 years at HeHe labs.
        </p>   
        </div>
    </div>
    </ion-content>
</ion-view> 