<ion-view view-title="experience" class="view1">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-done"  ng-click="canIcontinue(aboveExpData)">Next</button>
  </ion-nav-buttons>

  <ion-content class="padding">
  <form ng-submit="doNew(expData)">
    <div class="list">
      <label class="item item-input">
         <input ng-model="expData.company" type="text" placeholder="Company" required>
      </label>
      <label class="item item-input">
         <input ng-model="expData.jobTitle" type="text" placeholder="Job Title" required>
      </label>
      <label class="item item-input item-select">
          <span class="input-label">From</span>
          <select ng-model="expData.from" class="allbx options" required>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option> <option>2003</option> <option>2004</option> <option>2005</option>
            <option>2006</option> <option>2007</option> <option>2008</option> <option>2009</option>
            <option>2010</option> <option>2011</option> <option>2012</option> <option>2013</option>
            <option>2014</option> <option>2015</option> <option>This Year</option>
          </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">To</span>
        <select ng-model="expData.to" class="allbx options" required>
          <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option> <option>2003</option> <option>2004</option> <option>2005</option>
            <option>2006</option> <option>2007</option> <option>2008</option> <option>2009</option>
            <option>2010</option> <option>2011</option> <option>2012</option> <option>2013</option>
            <option>2014</option> <option>2015</option> <option>This Year</option>
        </select>
      </label>
      <label class="item item-input">
        <textarea ng-model="expData.describeMe" type="text" placeholder="describe your self in a few sentences"></textarea>
      </label>
      <label class="item subMit">
        <button type="submit" class="pull-right"><i class="ion-plus-circled pull-right plus"></i></button>
      </label>
      
    </div>
  </form>
    
  </ion-content>
</ion-view>