<ion-view view-title="update" class="view1">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
      <a href="#/tab/profile/update/personal" class="button button-block btnS">Personal information
      </a>
      <a href="#/tab/profile/update/experience" class="button button-block btnS">Experience
      </a>
      <a href="#/tab/profile/update/education" class="button button-block btnS">Education
      </a>
      <a href="#/tab/profile/update/qualifications" class="button button-block btnS">Qualifications
      </a> 
  </ion-content>
</ion-view>
