<ion-view view-title="welcome" class="view1">
  <ion-nav-buttons side="right">
    <a href="#/tab/profile">
      <button class="button button-default">skip</button>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="profile1">
      <h1 class="textco">Almost Done!</h1>
      <div class="desi">
        <p class="para1"> You can upload all Your documents that can prove your qualifications.</p>
        &nbsp;&nbsp;format: .zip, .rar, .docx and .pdf
        
        <a href="#"><button class="button button-block button-default cont cont1">Upload your legal documents</button></a>
      </div>
      
    </div>
 
 <P ><center>
   <a href="#/tab/profile">
 <button class="button button-default cont">
  Continue
  </button>
  </a>
 </center>
 
  </P>

  </ion-content>