<ion-view view-title="welcome" class="view1">
  <ion-nav-buttons side="right">
    <a href="#/uploadDocs">
      <button class="button button-default">skip</button>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="profile1">
      <h1 class="textco">Congratulations!</h1>
      <div class="desi">
        <p class="para1"> You are almost done.The earlier you complete your profile the more chances to get hired.</p>
        <a href="#"><button ng-click="selectPicture()" class="button button-block button-default cont">Set Profile Picture</button></a>
        <center><div class="cropped-canvas"></div></center>
      </div>
      
    </div>
 
 <P ><center>
   <a href="#/uploadDocs">
 <button class="button button-default cont">
  Continue
  </button>
  </a>
 </center>
 
  </P>

  </ion-content>